body {
  background-color: rgb(221, 226, 231);
}

.board {
  margin-top: 50px;
  width: 100%;
  height: 560px;
  box-shadow: 7px 10px 20px 6px rgb(196, 197, 197), -10px -7px 15px 2px white;
  border-radius: 20px;
}

#passImage {
  height: 98px;
  width: 98px;
  border-radius: 50px;
  border: 6px solid white;
  box-shadow: 8px 6px 6px 0px rgb(201, 204, 206);
}

#img {
  text-align: center;
}

#display {
  color: rgb(121, 121, 121);
  text-align: center;
  padding-top: 15px;
  font-family: Didot, serif;
}

#position {
  color: rgb(121, 121, 121);
  text-align: center;
  font-weight: bold;
  font-size: larger;
  font-style: Georgia ;
  margin-top: -10px;
}

form {
  padding-top: 50px;
}

.inputs{
    padding-top: 20px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    outline: none;
}

.form-control{
    border-radius: 20px;
    margin-top: 15px;
    margin-right: 56px;
    box-shadow: inset 8px 6px 7px 4px  rgb(196, 197, 197),inset -6px -5px 14px 1px white;
    background-color: rgb(222, 226, 230);
    outline: transparent;
}


.btn{
    margin-top: 15px;
    border-radius: 20px;
    color: white;
    background-image: linear-gradient(161deg, rgb(123, 225, 238), rgb(157, 30, 138));
    border: none;
    box-shadow: 4px 5px 7px 0px rebeccapurple;
}

#links{
    padding-top: 17px;
}

#links a{
    color: gray;
    text-align: center;
}


#error{
  color: red;
  text-align: center;
}